<h1>Add Profile</h1>
<br>
<h3>Enter Info Below</h3>

<form action = "/anadeperfil" method="GET" >
    <label for = 'fname'>Enter First Name</label>
    <input type="text" name="fname">
    <label for = 'lname'>Enter Last Name</label>
    <input type="text" name="lname">
    <label for = 'blurb'>Enter Blurb</label>
    <input type="text" name="blurb">
    <label for = 'hobbies'>Enter Hobbies</label>
    <input type="text" name="hobbies">
    <input type="submit">
</form>
