<%= "Your number, #{params[:number]}, quadrupled = #{@number}" %>

<form action = "/quadruple" method="GET" >
    <label for = 'number'>Submit</label>
    <input type="number" name="number">
    <input type="submit">
</form>
