<h1>Sign In</h1>
<br>
<h3>Enter User ID and Password Below</h3>

<form action = "/signin" method="GET" >
    <label for = 'user_id'>Enter User ID</label>
    <input type="text" name="user_id">
    <label for = 'password'>Enter Password</label>
    <input type="text" name="password">
    <input type="submit">
</form>
