<h1>Sign Up Page</h1>
<br>
<h3>Enter Name and Email and Password Below</h3>

<form action = "/signup" method="GET" >
    <label for = 'name'>Enter User Name</label>
    <input type="text" name="user_name">
    <label for = 'email'>Enter Email</label>
    <input type="text" name="email">
    <label for = 'name'>Enter Password</label>
    <input type="text" name="password">
    <label for = 'email'>Re-enter Password</label>
    <input type="text" name="pswdcon">
    <input type="submit">
</form>
