<h1>Ready to Subscribe?</h1>
<br>
<h3>Enter Name and Email below:</h3>

<form action = "/subscribe" method="GET" >
    <label for = 'name'>Submit Name</label>
    <input type="text" name="name">
    <label for = 'email'>Submit Email</label>
    <input type="text" name="email">
    <input type="submit">
</form>
